@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;
  
  --color-brand-indigo-main: #4f46e5;
  --color-brand-indigo-dark: #312e81;
  --color-brand-emerald-main: #10b981;
  --color-brand-rose-main: #fb7185;
}

@media print {
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
  body {
    background: white !important;
    padding: 0 !important;
  }
}

.print-only {
  display: none;
}

@layer base {
  body {
    @apply bg-[#f8f9fa] text-[#1a1c1e] font-sans antialiased;
  }
}
